<div class="container" >
    <div class="card card-container">
      <form #form="ngForm" autocomplete="off" (ngSubmit)="form.form.valid && createTapis()">
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="row">
      <div class="form-group col-md-12" [ngClass]="{ 'has-error': form.submitted && !nom.valid }">
        <label for="nom">Nom</label>
        <input type="text" class="form-control input-text-custom" id="nom" name="nom" [(ngModel)]="tapis.nom" #nom="ngModel" required />
        <div *ngIf="form.submitted && !nom.valid" class="help-block">Entrez un nom valide.</div>
      </div>

      <div class="form-group col-md-12" [ngClass]="{ 'has-error': form.submitted && !nom.valid }">
        <label for="couleur">Couleur</label>
        <input type="text" class="form-control input-text-custom" id="couleur" name="couleur" [(ngModel)]="tapis.couleur" #couleur="ngModel" required />
        <div *ngIf="form.submitted && !couleur.valid" class="help-block">Entrez une couleur valide.</div>
      </div>

      <div class="form-group col-md-12" [ngClass]="{ 'has-error': form.submitted && !taille.valid }">
        <label for="taille">Taille</label>
        <input type="texte" class="form-control input-text-custom" id="taille" name="taille" [(ngModel)]="tapis.taille" #taille="ngModel" required />
        <div *ngIf="form.submitted && !taille.valid" class="help-block">Entrez une taille valide.</div>
      </div>

      <div class=" form-group col-md-12" [ngClass]="{ 'has-error': form.submitted && !desc.valid }">
        <label for="desc">Description</label>
        <textarea  class="form-control" id="desc" name="desc" [(ngModel)]="tapis.desc" #desc="ngModel" required  >

        </textarea>
        <div *ngIf="form.submitted && !desc.valid" class="help-block">Entrez une  description.</div>
      </div>
      <div class="form-group col-md-12">
        <label for="image">Image</label>
        Progress: {{loaded}}%
        <mat-progress-bar mode="determinate" class="mb-2" value="{{loaded}}"></mat-progress-bar>
        <input type="file" class="form-control-file" id="image" name="image"   (change)="selectFile($event)" [(ngModel)]="tapis.image" #image="ngModel" required>
        <div *ngIf="form.submitted && !image.valid" class="help-block">Choisissez un fichier.</div>
      </div>


      <div class="form-group col-md-12" [ngClass]="{ 'has-error': form.submitted && !origine.valid }">
        <label for="origine">Origine</label>
        <input type="texte" class="form-control input-text-custom" id="origine" name="origine" [(ngModel)]="tapis.origine" #origine="ngModel" required />
        <div *ngIf="form.submitted && !origine.valid" class="help-block">Entrez une origine valide.</div>
      </div>



      <div class="form-group col-md-12" [ngClass]="{ 'has-error': form.submitted && !motif.valid }">
        <label for="motif">Motifs</label>
        <input type="texte" class="form-control input-text-custom" id="motif" name="motif" [(ngModel)]="tapis.motif" #motif="ngModel" required />
        <div *ngIf="form.submitted && !motif.valid" class="help-block">Entrez un motif valide.</div>
      </div>
    <div class="form-group">
      <button type="submit" class="btn text-white" style="background-color: #0b0514">
        <i class="fa fa-database"></i> Sauvegarder
      </button>
      <a class="btn btn-outline-dark ml-1" routerLink="/orders"><i class="fa fa-table"></i> Liste des tapis</a>
    </div>

    </div>
  </form>
</div>
</div>
